<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tasks</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <div class="container py-4">
    <h1 class="mb-4">タスク一覧</h1>

    <form method="get"
          th:action="@{/tasks}"
          th:object="${searchForm}"
          class="row g-3 mb-4">

        <div class="col-md-4">
            <label class="form-label">タスク名</label>
            <input type="text"
                  th:field="*{title}"
                  class="form-control"
                  placeholder="タスク名">
        </div>

        <div class="col-md-3">
            <label class="form-label">状態</label>
            <select th:field="*{status}" class="form-select">
                <option value="">全て</option>
                <option th:each="s : ${statuses}"
                        th:value="${s}"
                        th:text="${s}">
                </option>
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">担当者ID</label>
            <input type="number"
                  th:field="*{assigneeId}"
                  class="form-control"
                  placeholder="担当者ID">
        </div>

        <div class="col-md-2 d-grid">
            <label class="form-label">&nbsp;</label>
            <button type="submit" class="btn btn-primary">
                検索
            </button>
        </div>

        <input type="hidden" name="sort" th:value="${sort}">
    </form>



    <p class="mb-3">
        <a th:href="@{/tasks/new}" class="btn btn-success">
            ＋ 新規作成
        </a>
    </p>

    <div class="mb-3">
        <span class="fw-bold">期限：</span>

        <a class="btn btn-outline-secondary btn-sm"
          th:href="@{/tasks(page=0, sort='dueDate,asc',
                        title=${searchForm.title},
                        status=${searchForm.status},
                        assigneeId=${searchForm.assigneeId})}">
            ↑ 昇順
        </a>

        <a class="btn btn-outline-secondary btn-sm"
          th:href="@{/tasks(page=0, sort='dueDate,desc',
                        title=${searchForm.title},
                        status=${searchForm.status},
                        assigneeId=${searchForm.assigneeId})}">
            ↓ 降順
        </a>
    </div>

    <table class="table table-striped table-hover table-bordered align-middle">      
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Due</th>
        <th>Assignee</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="t : ${tasks}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.title}"></td>
        <td>
          <span th:if="${t.status.name() == 'TODO'}"
            class="badge bg-secondary">
              未着手
          </span>

          <span th:if="${t.status.name() == 'IN_PROGRESS'}"
                class="badge bg-primary">
              対応中
          </span>

          <span th:if="${t.status.name() == 'DONE'}"
                class="badge bg-success">
              完了
          </span>
        </td>
        <td th:text="${t.dueDate != null ? t.dueDate : '期限なし'}"></td>
        <td th:text="${t.assigneeId != null ? t.assigneeId : '未割当'}"></td>

        <td class="text-nowrap">

          <a th:href="@{/tasks/{id}/edit(id=${t.id})}"
            class="btn btn-warning btn-sm">
              編集
          </a>
          <!-- TODO -->
          <form th:if="${t.status.name() == 'TODO'}"
                th:action="@{/tasks/{id}/status(id=${t.id})}"
                method="post"
                class="d-inline">

              <input type="hidden"
                    name="operation"
                    value="START">

              <button type="submit"
                      class="btn btn-primary btn-sm">
                  着手
              </button>
          </form>

          <!-- IN_PROGRESS 完了 -->
          <form th:if="${t.status.name() == 'IN_PROGRESS'}"
                th:action="@{/tasks/{id}/status(id=${t.id})}"
                method="post"
                class="d-inline">

              <input type="hidden"
                    name="operation"
                    value="COMPLETE">

              <button type="submit"
                      class="btn btn-success btn-sm">
                  完了
              </button>
          </form>

          <!-- IN_PROGRESS 差し戻し -->
          <form th:if="${t.status.name() == 'IN_PROGRESS'}"
                th:action="@{/tasks/{id}/status(id=${t.id})}"
                method="post"
                class="d-inline">

              <input type="hidden"
                    name="operation"
                    value="REVERT">

              <button type="submit"
                      class="btn btn-secondary btn-sm">
                  差し戻し
              </button>
          </form>

          <!-- DONE -->
          <form th:if="${t.status.name() == 'DONE'}"
                th:action="@{/tasks/{id}/status(id=${t.id})}"
                method="post"
                class="d-inline">

              <input type="hidden"
                    name="operation"
                    value="REOPEN">

              <button type="submit"
                      class="btn btn-info btn-sm">
                  再開
              </button>
          </form>

          <form th:action="@{/tasks/{id}/delete(id=${t.id})}"
                method="post"
                class="d-inline">

              <button type="submit"
                      class="btn btn-danger btn-sm"
                      onclick="return confirm('削除しますか？');">
                  削除
              </button>
          </form>
      </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center"
        th:if="${taskPage.totalPages > 0}">

        <span>
            <strong th:text="${taskPage.number + 1}"></strong>
            /
            <strong th:text="${taskPage.totalPages}"></strong>
            ページ
        </span>

        <div>

            <a class="btn btn-outline-primary btn-sm"
              th:if="${taskPage.hasPrevious()}"
              th:href="@{/tasks(page=${taskPage.number - 1},
                        sort=${sort},
                        title=${searchForm.title},
                        status=${searchForm.status},
                        assigneeId=${searchForm.assigneeId})}">
                ← 前へ
            </a>

            <a class="btn btn-outline-primary btn-sm"
              th:if="${taskPage.hasNext()}"
              th:href="@{/tasks(page=${taskPage.number + 1},
                        sort=${sort},
                        title=${searchForm.title},
                        status=${searchForm.status},
                        assigneeId=${searchForm.assigneeId})}">
                次へ →
            </a>

        </div>
    </div>

</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
