<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Tasks</title>
</head>
<body>
<h1>タスク一覧</h1>

<form method="get" th:action="@{/tasks}" th:object="${searchForm}">
    <input type="text"
           th:field="*{title}"
           placeholder="タスク名">

    <select th:field="*{status}">
        <option value="">全て</option>
        <option th:each="s : ${statuses}"
                th:value="${s}"
                th:text="${s}">
        </option>
    </select>

    <input type="number"
           th:field="*{assigneeId}"
           placeholder="担当者ID">

    <button type="submit">検索</button>
</form>



<p><a th:href="@{/tasks/new}">+ 新規作成</a></p>

<p>
  <a th:href="@{/tasks(page=0, sort='dueDate,asc',
                    title=${searchForm.title},
                    status=${searchForm.status},
                    assigneeId=${searchForm.assigneeId})}">
    期限↑
  </a>
  /
  <a th:href="@{/tasks(page=0, sort='dueDate,desc',
                    title=${searchForm.title},
                    status=${searchForm.status},
                    assigneeId=${searchForm.assigneeId})}">
    期限↓
  </a>
</p>

<table border="1" cellspacing="0" cellpadding="6">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Due</th>
    <th>Assignee</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="t : ${tasks}">
    <td th:text="${t.id}"></td>
    <td th:text="${t.title}"></td>
    <td th:text="${t.status}"></td>
    <td th:text="${t.dueDate != null ? t.dueDate : '期限なし'}"></td>
    <td th:text="${t.assigneeId != null ? t.assigneeId : '未割当'}"></td>

    <td>
      <a th:href="@{/tasks/{id}/edit(id=${t.id})}">編集</a>

      <form th:action="@{/tasks/{id}/delete(id=${t.id})}"
            method="post"
            style="display:inline;">
        <button type="submit"
                onclick="return confirm('削除しますか？');">
          削除
        </button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div th:if="${taskPage.totalPages > 0}">
  <p>
    <span th:text="${taskPage.number + 1}"></span>
    /
    <span th:text="${taskPage.totalPages}"></span>
    ページ
  </p>

  <a th:if="${taskPage.hasPrevious()}"
     th:href="@{/tasks(page=${taskPage.number - 1},
                      sort=${sort},
                      title=${searchForm.title},
                      status=${searchForm.status},
                      assigneeId=${searchForm.assigneeId})}">
    前へ
  </a>

  <a th:if="${taskPage.hasNext()}"
     th:href="@{/tasks(page=${taskPage.number + 1},
                      sort=${sort},
                      title=${searchForm.title},
                      status=${searchForm.status},
                      assigneeId=${searchForm.assigneeId})}">
    次へ
  </a>
</div>


</body>
</html>
